{
    "version": 1,
    "incremental": false,
    "disable_existing_loggers": true,
    "root": {
        "handlers": [
            "stderr"
        ],
        "level": "DEBUG"
    },
    "loggers": {
        "calculator": {
            "handlers": [
                "file"
            ],
            "level": "WARNING"
        }
    },
    "handlers": {
        "stderr": {
            "formatter": "BASIC_FORMAT",
            "class": "logging.StreamHandler",
            "level": "DEBUG",
            "stream": "ext://sys.stderr"
        },
        "file": {
            "formatter": "BASIC_FORMAT",
            "class": "logging.FileHandler",
            "level": "WARNING",
            "filename": "/tmp/calculator.log",
            "mode": "w"
        }
    },
    "formatters": {
        "BASIC_FORMAT": {
            "format": "%(levelname)s:%(name)s:%(message)s"
        }
    }
}