 Here is an example template for your reference.
{
    "version":1,                   This is a required argument
    "incremental":False,           This is optional assumed to be false if it isn't defined
    "disable_existing_loggers":True,   This is optional assumed to be True if it isn't defined
    "root":{
        "handlers" : ["Names of handlers here"],
        "level": "DESIRED LOGGER LEVEL OF ROOT"
    },
    "loggers":{
        "LOGGER NAME": {
            "handlers": ["HANDLER TO ATTACH TO LOGGER"],
            "level": "DESIRED LOGGER LEVEL FOR THIS LOGGER"
        }
    },
    "handlers":{
        "HANDLER NAME":{
            "formatter": "FORMATTER NAME",
            "class": "a class name to set for this handler.  Examples: 'logging.StreamHandler' , 'logging.FileHandler'",
            "level": "DESIRED LEVEL FOR THIS HANDLER",
            "kwargs" : "Any keyword arguments to pass to the class are defined in this dictionary",
            "filters" : ["NAMES OF FILTERS TO APPLY HERE"]
        },
    },
    "formatters":{
        "FORMATTER NAME YOU ARE DEFINING": {             For example a good name for this one would be "BASIC_FORMAT"
            "format": "%(levelname)s:%(name)s:%(message)s"
        }
    },
    "filters":{
        "Name of filter": {
          "class" : "a filter class define in the program using this config",
        }
    }
}
